*{
   box-sizing: border-box;
}
body{
   margin: 0;
   padding: 0;
   font-family: "Arial", sans-serif;
}
nav{
   margin: 10px;
}
input:focus,input:focus-visible,
button:focus,button:focus-visible,
textarea:focus,textarea:focus-visible,
select:focus,select:focus-visible,
option:focus,option:focus-visible,
a:focus,a:focus-visible{
   outline: 1px solid #52ce00;
}
#nav{
   display: flex;
   justify-content: space-evenly;
   height: 35px;
}

.search{
   display: flex;
   justify-content: space-between;
   border-radius: 100px;
   border: 1px solid #ccc;
}
.search >span, .search button{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 35px;
   height: 100%;
   padding: 0;
}
.search img{
   width: 30px;
   height: 30px;
   padding: 0;
}
.search input{
   width: 240px;
   border: solid white ;
   border-width: 1px 0 2px 1px;
   padding: 5px 10px;
}
.search input:focus-visible,.search input:focus{
   outline: none;
   border: solid #dddddd;
   border-width: 1px 0 2px 1px;
}
.search button{
   background-color: #f1f1f1;
   border: none;
   border-radius: 0 20px 20px 0;
}
.search button:hover,.search button:focus-visible{
   transform: scale(1.02);
   background-color: #ddd;
   cursor: pointer;
}



#links{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
#links a{
   display: inline-block;
   text-decoration: none;
   color: black;
   padding: 16px;
   border-radius: 4px;
}
#links a:hover{
   background-color: #f1f1f1;
}